services:
    db:
        image: postgres:15-alpine
        restart: always
        environment:
            POSTGRES_USER: aman_user
            POSTGRES_PASSWORD: mysecretpassword
            POSTGRES_DB: todo_db
        ports:
            - '5432:5432'
        volumes:
            - postgres_data:/var/lib/postgresql/data
volumes:
    postgres_data:
